.navbar {
    overflow: hidden;
    background-color: #FEBB0B;

  }
  
  .navbar a {
    /* float: left; */
    font-size: 16px;
    color: rgb(12, 1, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: middle;
    overflow: hidden;
    text-align: center;
  }
  
  .dropdown .dropbtn {
    font-size: 25px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    
    font-family: 'Raleway', serif;
    /* font-family: inherit; */
    margin: 0;
    
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #54632b;
    color: white;
  }
  
  .dropdown-content {
    display: none;
    background-color: #0c3b17;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float: center;
  }
  
  .dropdown-content a {
    float: middle;
    color: #FEBB0B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: middle;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(36, 77, 38);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }